# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# React
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Kubernetes
*.secret.yaml

# Misc
coverage/